name: "Vérification grammaire/orthographe"
on: push
  push:
    branches: ["main"]
    tags: ["*"]
  pull_request:
    branches: ["main"]
jobs:
  grammaire_et_orthographe:
    runs-on: ubuntu-latest
    container: python:3.12
    steps:
      - name: Installation de grammalint
        run: python -m pip install git+https://gitlab.in2p3.fr/sonny.lion/grammalint.git
      - name: Extraction des fichiers
        uses: actions/checkout@v5
      - name: Exécution de grammalint
        run: python -m grammalint -i recettes/**/*.md
  build:
    runs-on: ubuntu-latest

  
    container: docker://gitlab-registry.in2p3.fr/sonny.lion/astro-chef:1.1.2
    env:
     
      BASE_URL: "/recettes"

    
    steps:
      
      - name: Check out git repository
        
        uses: actions/checkout@v5

      
      
      - name: Build the static website
        run: |
          # On déplace les recettes à l'endroit attendu par astro-chef
          cp -r ./recettes $APP_DIR/recettes
          # On génère les pages HTML avec astro-chef
          (cd $APP_DIR && yarn build)
          # On ramène ces pages à un endroit où le runner GitHub peut les voir
          mv $APP_DIR/dist .

     
      - name: Generate and upload the artifact
        # Documentation sur https://github.com/actions/upload-pages-artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: dist/

  # Ce job met en ligne les pages HTML
  deploy:
    # Il ne s'exécute que sur la branche main
    if: ${{ github.ref == 'refs/heads/main' }}

    # Il dépend du job de construction du HTML (par défaut les jobs sont
    # considérés comme indépendants et s'exécutent en parallèle)
    needs: build

    # Il est investi de permissions supplémentaires qui lui permettent...
    permissions:
      pages: write      # ...de mettre des pages en ligne
      id-token: write   # ...et de s'authentifier comme source valide

    # On met en ligne sur GitHub pages, pas un autre hébergeur de site statique
    environment:
      name: github-pages
      # On donne un identifiant "pages" à l'étape de déploiement, ce qui nous
      # permet de récupérer l'url de la version en ligne dont on a besoin ici.
      url: ${{ steps.pages.outputs.page_url }}

    # Le reste est similaire à ce qu'on a vu précédemment
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: pages
        # Documentation sur https://github.com/actions/deploy-pages
        uses: actions/deploy-pages@v4

